.general-message-wrap.divider-lg
  .clearfix
    %span.img-circle.logo-size.inlide-block.pull-left.logo-empty= review.user.email.first.capitalize
    .ml-70
      %div
        .general-message-date.hidden-xs= review.formatted_date
        .max-240
          .general-message-verified= review.verified_reviewer
          .general-message-name= review.email_first_letter
      .mb-15
        - review.rating.times do 
          %i.fa.fa-star.rate-star
        - (5 - review.rating).times do
          %i.fa.fa-star.rate-star.rate-empty
      %p= review.text