order_tr = $("#order_<%= @order.id.to_s %>");
console.log(<%= @errors.blank? %>);

if ( !order_tr.find('.notice').length ){
  order_tr.find('.col-actions').prepend("<div class='notice'></div>");
}

if (<%= @errors.blank? %>){
  order_tr.find('.notice').html('<b> <%= I18n.t(:saved) %> <b>');
  order_tr.find('.change_state').toggle();
  order_tr.find('.col-status').html("<%= @order.status %>");
}else{
  order_tr.find('.notice').html('<b> <%= @errors %> <b>');
}

order_tr.find('.notice').fadeIn(1000);
order_tr.find('.notice').fadeOut(1000);
