= form_with model: @user, url: { action: "update_#{address.to_s}" } do |user_form|
  .flash_message
  = user_form.fields_for address do |form|
    = render 'addresses/form', f: form, type: address.to_s.split('_').first, countries_with_codes: @countries_with_codes
  .text-center.general-text-align
    .btn.btn-default= user_form.submit