= form_with model: @user, url: { action: "update_password" }, class: 'general-form-md divider-lg-bottom pb-25' do |f|
  - if @user.errors.any?
    %span I understand that all data will be lost
  .password_flash_message
  .form-group.mb-30
    = f.label :current_password, class: 'control-label input-label'
    = f.password_field :current_password, id: 'current_password', placeholder: t(:old_password)
  .form-group.mb-30
    = f.label :password, class: 'control-label input-label'
    = f.password_field :password, id: 'password', placeholder: t(:new_password)
  .form-group.mb-40
    = f.label :password_confirmation, class: 'control-label input-label'
    = f.password_field :password_confirmation, id: 'password_confirmation', placeholder: t(:confirm_password)
  .general-text-align
    .btn.disabled.mb-10= f.submit