= form_with model: @password_form, url: update_password_users_path, class: 'general-form-md divider-lg-bottom pb-25' do |f|
  .flash_message
  .form-group.mb-30
    = f.label :current_password, class: 'control-label input-label'
    = f.password_field :current_password, id: 'current_password', placeholder: true
  .form-group.mb-30
    = f.label :password, class: 'control-label input-label'
    %br
    = f.password_field :password, id: 'password', placeholder: true, title: t(:invalid_password), data: { regexp: PasswordForm::PASSWORD_INPUT }
  .form-group.mb-40
    = f.label :password_confirmation, class: 'control-label input-label'
    = f.password_field :password_confirmation, id: 'password_confirmation', placeholder: true, title: t(:invalid_password), data: { regexp: PasswordForm::PASSWORD_INPUT }
    = f.hidden_field :user_id
  .general-text-align
    .btn.btn-default.mb-10= f.submit t('.save')