%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t(:set_new_password)
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'general-form' }) do |f|
    = render partial: 'flash'
    = f.hidden_field :reset_password_token
    .form-group.mb-30
      = f.label :password, class: 'control-label input-label'
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} t(:characters_minimum))
        %br/
      = f.password_field :password, class: 'form-control', placeholder: true
    .form-group.mb-40
      = f.label :password_confirmation, class: 'control-label input-label'
      = f.password_field :password_confirmation, placeholder: true
    .btn.btn-default.center-block.mb-20= f.submit