%main.container
  .row
    .col-md-5.mb-40
      .text-center
        %h3.general-subtitle Returning Customer
        %a.general-login-icon{href: "#"}
          %i.fa.fa-facebook-official
        %p.general-login-text or
      = render partial: 'login_form'
    .col-md-5.col-md-offset-1.mb-60
      .text-center
        %h3.general-subtitle New Customer
        %a.general-login-icon{href: "#"}
          %i.fa.fa-facebook-official
        %p.general-login-text or
      = form_for :user, url: quick_signup_users_path, html: { method: :put, class: 'general-form' } do |f|
        .mb-40
          %p.mb-5 Quik Register
          %p.general-info-text.font-12.mb-20 You’ll be able to create password later        
          = render partial: 'flash'
          .form-group.mb-30
            = f.label :email, t(:enter_email), class: 'control-label input-label'
            = f.text_field :email, class: 'form-control', placeholder: true
        = f.submit class: 'btn disabled mb-20'