%main.container.general-main-wrap
  .text-center
    %h1.mb-30 Forgot your password?
    %p.general-password-text We'll email you instructions on how to reset it
  = form_for(:user, url: password_path(:user), html: { method: :post, class: 'general-form' }) do |f|
    = render partial: 'flash'
    .form-group.mb-25
      = f.text_field :email, class: 'form-control', placeholder: true
    = f.submit class: 'btn btn-default center-block mb-20'
    .text-center
      = link_to t(:cancel), login_users_path, class: 'in-gold-500 mb-20'