%main.container.general-main-wrap
  .text-center
    %h1.mb-30= t('.forgot_password')
    %p.general-password-text= t('.instructions')
  = form_for(:user, url: password_path(:user), html: { method: :post, class: 'general-form' }) do |f|
    = render partial: 'flash'
    .form-group.mb-25
      = f.text_field :email, class: 'form-control', placeholder: true
    = f.submit t('.send_email'), class: 'btn btn-default center-block mb-20'
    .text-center
      = link_to t('.cancel'), login_users_path, class: 'in-gold-500 mb-20'