%main.container
  = render 'carousel', latest_books: @latest_books
.container
  .jumbotron.text-center.mb-0
    %h2.h1= t('.welcome')
    .mb-res-50
      %p= t('.decription')
    = link_to t('.get_started'), books_path, class: 'btn btn-default'
  .mb-35
    %h3= t('.best_sellers')
    .row
      - @books.each do |book|
        .col-sm-6.col-md-3
          = render partial: 'books/book_photo', locals: {book: book}
          .mb-35
            .clearfix
              %p.pull-right.font-16.in-gold-500= book.formatted_price
              %p.title.mr-55= book.title
            %span.divider-sm
            %p.lead.small= book.formatted_authors
