%p.in-gold-500.font-18= t(:order_summary)
%table.general-summary-table{class: ('general-summary-table-right general-text-right' if (current_step?(:confirm) || current_step?(:complete))) }
  %tr
    %td
      %p.font-16= t(:subtotal)
    %td
      %p.font-16 €117.69
  %tr
    %td
      %p.font-16= t(:coupon)
    %td
      %p.font-16 €0.00
  %tr
    %td
      %strong.font-18= t(:order_total)
    %td
      %strong.font-18= @order.total