= semantic_form_for [:admin, category], builder: ActiveAdmin::FormBuilder, remote: true do |f|
  = f.semantic_errors
  = f.inputs
  = f.actions do
    = f.action :submit
    = f.cancel_link({action: "index"})
    