!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width"}
    %title= t :bookstore
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "../css/style.css", rel: "stylesheet"}
  %body
    %header.navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
            %span.sr-only
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand= t(:bookstore)
          = link_to cart_path(@cart), class: 'shop-link pull-right visible-xs' do
            %span.shop-icon
              = render @cart
        = link_to cart_path(@cart), class: 'shop-link pull-right hidden-xs' do
          %span.shop-icon
            = render @cart
        #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
          .visible-xs
            %button.close{type: "button", 'aria-label': "Close"}
              %span{'aria-hidden': "true"} &times;
            %ul.nav.navbar-nav
              %li
                = link_to t(:home), root_path
              %li
                = link_to t(:shop), '#menu', html_options = { type: 'button', 'data-toggle': 'collapse', 'aria-expanded': 'false', 'aria-controls': 'menu' }
                %a{type: "button", 'data-toggle': "collapse", href: "#menu", 'aria-expanded': "false", 'aria-controls': "menu"} Shop
                %ul#menu.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false"}
                  - @categories_for_menu.each do |category|
                    -if category.books.size.positive?
                      %li
                        %a.collapse-link{href: "#"}= category.name
              %li
                %a{href: "#"} My account
          .hidden-xs
            %ul.nav.navbar-nav
              %li
                = link_to t(:home), root_path
              %li.dropdown
                = link_to t(:shop), '#', html_options = { class: 'dropdown-toggle', 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false" }
                %ul.dropdown-menu
                  - @categories_for_menu.each do |category|
                    -if category.books.size.positive?
                      %li
                        %a{href: "#"}= category.name
              - if user_signed_in?
                %li.dropdown
                  = link_to t(:my_account), '#', html_options = { class: 'dropdown-toggle', 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false" }
                  %ul.dropdown-menu
                    %li
                      %a{href: "#"} Orders
                    %li
                      = link_to t(:settings), settings_path(current_user)
                    %li.divider{role: "separator"}
                    %li
                      = link_to t(:log_out), destroy_user_session_path, method: :delete 
              - else
                %li
                  = link_to t(:log_in), login_users_path
                %li
                  = link_to t(:sign_up), signup_users_path
    - flash.each do |name, msg|
      = content_tag :div, :class => "alert #{name == :error ? "alert-error" : "alert-success" }" do
        = msg
    = yield
    %footer.navbar-inverse
      .container
        .row
          .col-sm-9
            %ul.list-inline.general-align.mb-25
              %li
                = link_to t(:home), root_path, class: 'nav-link'
              %li
                = link_to t(:shop), books_path, class: 'nav-link'
              - if user_signed_in?
                %li
                  %a.nav-link{href: "#"} Orders
                %li
                  = link_to t(:settings), settings_path(current_user), class: 'nav-link'
              - else
                %li
                  = link_to t(:log_in), login_users_path, class: 'nav-link'
                %li
                  = link_to t(:sign_up), signup_users_path, class: 'nav-link'
          .col-sm-3
            %p.general-nav-mail support@bookstore.com
            %p.general-nav-number (555)-555-5555
            %ul.list-inline.general-align
              %li
                %a.nav-link{href: "#"}
                  %i.fa.fa-facebook{'aria-hidden': "true"}
              %li
                %a.nav-link{href: "#"}
                  %i.fa.fa-twitter{'aria-hidden': "true"}
              %li
                %a.nav-link{href: "#"}
                  %i.fa.fa-google-plus{'aria-hidden': "true"}
              %li
                %a.nav-link{href: "#"}
                  %i.fa.fa-instagram{'aria-hidden': "true"}
    %script{src: "https://use.fontawesome.com/67602d7308.js"}

